@model UpdatePasswordRequestModel

<form method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword">Current Password</label>
        <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword">New Password</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
