@using TransportGlobalWeb.UI.Enums.TransporterContextEnums;
@using TransportGlobalWeb.UI.Models.RequestModels.TransporterContextRequestModels.Employee;
@using TransportGlobalWeb.UI.Models.ViewModels.TransporterContextViewModels;
@model CreateEmployeeRequestModel

<h1>Create Employee</h1>

<form asp-action="CreateEmployee" method="post">
    <div class="form-group">
        <label asp-for="VehicleID">Vehicle</label>
        <select asp-for="VehicleID" class="form-control">
            <option value=0>Select Vehicle</option>
            @foreach (VehicleViewModel vehicleItem in (ViewData["Vehicles"]! as List<VehicleViewModel>)!)
            {
                <option value="@vehicleItem.ID">@vehicleItem.IdentificationNumber</option>
            }
        </select>
        <span asp-validation-for="VehicleID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Surname">Surname</label>
        <input asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Title">Employee Title</label>
        <select asp-for="Title" class="form-control">
            @foreach (EmployeeTitle employeeTitle in Enum.GetValues<EmployeeTitle>())
            {
                <option value="@employeeTitle">@employeeTitle</option>
            }
        </select>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
